<!doctype html>
<html lang="en">
  <head>
    <!-- Title block allowing child pages to override -->
    <title>{% block title %}Archetype{% endblock %}</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Styles -->
    {{ "app.css" | asset_url | stylesheet_tag }}
    <!-- Style block allowing child pages to inject their own styles -->
    {% block styles %}{% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <!-- Include -->
      {% include "header" %}
      <div class="main-content">
        <article class="article">
          <!-- Content block, child page inject content -->
          {% block content %}{% endblock %}
        </article>
        <aside class="aside">
          <!-- Include sidebar -->
          {% include "nav--side" %}
        </aside>
      </div>
      <!-- Include -->
      {% include "footer" %}
    </div>
    <!-- Script block allowing child pages to inject their own scripts -->
    {% block scripts %}{% endblock %}
    {{ "app.js" | asset_url | script_tag }}
  </body>
</html>