/* [sass, assets/sass, app.scss] */
@font-face {
  font-family: blokk--reg;
  font-weight: normal;
  font-style: normal;
  src: url("../type/BLOKKRegular.eot");
  src: url("../type/BLOKKRegular.eot?#iefix") format("embedded-opentype"), url("../type/BLOKKRegular.woff") format("woff"), url("../type/BLOKKRegular.ttf") format("truetype"), url("../type/BLOKKRegular.svg#blokk--reg") format("svg"); }
/* line 4, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "blokk--reg", Myriad, arial, helvetica, sans-serif;
  margin: 0;
  padding: 20px 0 10px 0;
  font-weight: normal;
  color: #282828; }

/* line 17, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
h1 {
  font-size: 2.25em;
  line-height: 40px; }

/* line 22, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
h2 {
  font-size: 1.625em;
  line-height: 30px; }

/* line 27, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
h3 {
  font-size: 1.375em;
  line-height: 30px; }

/* line 32, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
h4 {
  font-size: 1.125em;
  line-height: 20px;
  padding-bottom: 0px; }

/* line 38, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
h5 {
  font-size: 1em;
  line-height: 20px;
  padding-bottom: 0px;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold; }

/* line 46, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
h6 {
  font-size: 1em;
  line-height: 20px;
  padding-bottom: 0px;
  font-family: arial, helvetica, sans-serif;
  font-weight: bold; }

/* line 54, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
p {
  font-family: "blokk--reg", Myriad, arial, helvetica, sans-serif;
  margin: 0;
  padding: 10px 0;
  font-size: 1em;
  line-height: 20px;
  color: #282828; }

/* line 1, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/objects/_box.scss */
.carousel, .promo, .wysiwyg {
  background-color: #d4efff;
  padding: 10px;
  border-bottom: 5px dashed white;
  display: block; }
  /* line 6, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/tools/helpers/_clearfix.scss */
  .carousel::after, .promo::after, .wysiwyg::after {
    content: '';
    display: table;
    clear: both; }
