%box{
  background-color: $blue--light;
  padding: $baseline*4; 
  border-bottom: 5px dashed white;
  display: block;
  @include clearfix;
  &:last-of-type{
    border-bottom: 0px;
  }
}

%box--outside-grid{
  position: absolute;
  left: 69%;
  font-family: $sans-serif;
  color: $grey;
  margin-top: $baseline;
  font-weight: normal;
  display: none;
  @include media-query-ie(tablet-and-desktop) {
    display: block;
  }
}