.news--latest{
  @extend %box;
}

.news__intro{
  @include media-query(tablet-and-desktop) {
    float: left;
    width: grid--column(6);
    margin-right: grid--gutter();
  }
}

.news__description{
  @include media-query(tablet-and-desktop) {
    float: left;
    width: grid--column(6);
  }
}

