.promo--text-with-image {
  @extend %box;
  .promo__info{
  }
  .promo__image{
    @include media-query(tablet-and-desktop) {
      margin-left: grid--gutter();
    }
  }
} 
.promo--video-with-text {
  @extend %box;
  .promo__info{
    @include media-query(tablet-and-desktop) {
      margin-left: grid--gutter();
    }
  }
  .promo__video{
    overflow: hidden;
  }
}

.promo__info{
  @include media-query(tablet-and-desktop) {
    float: left;
    width: grid--column(6);
  }
}

.promo__video{
  background-color: $blue;
  margin-bottom: $baseline*2;
  @include media-query(tablet-and-desktop) {
    float: left;
    width: grid--column(6);
  }
  video{
    opacity: 0;
  }
}

.promo__image{
  background-color: $blue;
  margin-bottom: $baseline*2;
  @include media-query(tablet-and-desktop) {
    float: left;
    width: grid--column(6);
  }
}

