@include font-face(blokk--reg, '../type/BLOKKRegular');

html{
  font-family: $sans-serif; 
}

h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0 0 $baseline 0;
  font-weight: normal;
  overflow: hidden;
} 

h1{
  font-size: em(36);
  line-height: $baseline*4;
}

h2{
  font-size: em(26, $base--em);
  line-height: $baseline*3;
}

h3{
  font-size: em(22, $base--em);
  line-height: $baseline*2;
}

h4{
  font-size: em(18, $base--em);
  line-height: $baseline*2;
  padding-bottom: 0px;
}

h5{
  font-size: em(16, $base--em);
  line-height: $baseline*2;
  font-weight: bold;
}

h6{
  font-size: em(16, $base--em);
  line-height: $baseline*2;
  font-weight: bold;
}

p{
  font-size: em(16, $base--em);
  line-height: $baseline*2;
  overflow: hidden;
}

.article{
  font-family: $heading-font;
  color: $blue;
  h2{
    @extend %box--outside-grid;
  }
}

.aside{
  color: $grey--dark;
  p{
    font-size: em(22);
    line-height: $baseline*3;
  }
}