img{
  width:100%;
  display: block;
}

article{
  @include media-query-ie(tablet-and-desktop) {
    float: left;
    width: grid--column(8);
    margin-right: grid--gutter();
  }
}
aside{  
  @include media-query-ie(tablet-and-desktop) {
    float: left;
    width: grid--column(4);
  }
}

.main-content{
  @include clearfix;
}