img{
	width:100%;
	display: block;
}

article{
	float: left;
	width: grid--column(8);
	margin-right: grid--gutter();
}
aside{
	float: left;
	width: grid--column(4);
}

.main-content{
	@include clearfix;
}