<header class="header">
  <h1>FED Archytype</h1>
  <h2>An example of a module based layout</h2>
  <p>
    This is a FED Archetype based on Christopher Butler's article on <a href="http://www.newfangled.com/the_way_you_design_web_content_is_about_to_change">modular content</a>
  </p>
</header>