<header class="header">
	<h1>FED Archytype</h1>
	<h2>An example of a module based layout</h2>
	<p>To see an example of how the modules/components and templates/layouts are seperated in preperation for backend development go <a href="http://stash.precedent.com/projects/PREC/repos/fed-archetype/browse">here</a></p>
	<p>To see BEM methodology guidelines and folder structure go <a href="http://stash.precedent.com/projects/PREC/repos/front-end-guidelines/browse">here</a></p>
	<p>When starting a new project download the latest FED mixin library <a href="http://stash.precedent.com/projects/PREC/repos/fed-mixin-library/browse">here</a></p>
</header>