<header class="header">
  <h1>FED Archytype</h1>
  <h2>An example of a module based layout</h2>
  <p>
    This is a FED Archetype based on Christopher Butler's article on <a href="http://www.newfangled.com/the_way_you_design_web_content_is_about_to_change">modular content</a> to demonstrate BEM methodologies, folder structure and mixins.  
  </p>
  <p>
    Visit github to see how the <a href="https://github.com/bennpearson/fed-modular-archetype/tree/40d01ee4ed8022340f547aaf6bbe73eaa04d5f3c/templates/includes">modules/components</a> and <a href="https://github.com/bennpearson/fed-modular-archetype/tree/40d01ee4ed8022340f547aaf6bbe73eaa04d5f3c/templates/layouts">templates/layouts</a> are seperated in preperation for backend development
  </p>
  <p>
    To see BEM methodology guidelines and folder structure go <a href="https://github.com/pete-naish/front-end-guidelines">here</a>
  </p>
  <p>
    Get the FED mixin library <a href="https://github.com/bennpearson/fed-mixin-library">here</a>
  </p>
</header>