<section class="nav--side">
  <p>Modular content means adding content in blocks that you can arrange and sort easily.</p>
  <p>A content block can contain text, images, slideshows, videos, either individually or in combinations</p>
</section>