<section class="news--latest">
	<h2>two-column text</h2>
	<div class="news__intro">
		<h3>Lorem</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
	</div>
	<div class="news__description">
		<p>Nullam ut nulla ultricies, adipiscing felis vel, tempus justo. </p>
	</div>
</section>