<section class="news--latest">
  <h2>two-column text</h2>
  <div class="news__intro">
    <h3>Lor</h3>
    <p>Lor e m ips um dol or sit amet</p>
  </div>
  <div class="news__description">
    <h3>Lor</h3>
    <p>Lore mi ps um do l or sit a me t</p>
  </div>
</section>