<section class="promo--video-with-text">
	<div class="promo__video">
		<video>
		</video>
	</div>
	<div class="promo__info">
		<h3>
			Video
		</h3>
		<p>
			This is some text
		</p>
	</div>
</section>