<section class="promo--text-with-image">
  <h2>text + image</h2>
  <div class="promo__info">
    <h3>
      Lor
    </h3>
    <p> 
      Lor e m ips um dol or sit amet
    </p>
  </div>
  <div class="promo__image">
    <img src="assets/img/slide.jpg">
  </div>
</section>