/* [sass, assets/sass, app.scss] */
@font-face {
  font-family: blokk--reg;
  font-weight: normal;
  font-style: normal;
  src: url("../type/BLOKKRegular.eot");
  src: url("../type/BLOKKRegular.eot?#iefix") format("embedded-opentype"), url("../type/BLOKKRegular.woff") format("woff"), url("../type/BLOKKRegular.ttf") format("truetype"), url("../type/BLOKKRegular.svg#blokk--reg") format("svg"); }
/* line 1, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
html {
  font-family: arial, helvetica, sans-serif; }

/* line 5, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0 0 10px 0;
  font-weight: normal;
  overflow: hidden; }

/* line 17, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
h1 {
  font-size: 2.25em;
  line-height: 40px; }

/* line 22, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
h2 {
  font-size: 1.625em;
  line-height: 30px; }

/* line 27, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
h3 {
  font-size: 1.375em;
  line-height: 20px; }

/* line 32, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
h4 {
  font-size: 1.125em;
  line-height: 20px;
  padding-bottom: 0px; }

/* line 38, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
h5 {
  font-size: 1em;
  line-height: 20px;
  font-weight: bold; }

/* line 44, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
h6 {
  font-size: 1em;
  line-height: 20px;
  font-weight: bold; }

/* line 50, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
p {
  font-size: 1em;
  line-height: 20px; }

/* line 55, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
.article {
  font-family: "blokk--reg", Myriad, arial, helvetica, sans-serif;
  color: #1daafc; }

/* line 63, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
.aside {
  color: #282828; }
  /* line 65, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
  .aside p {
    font-size: 1.375em;
    line-height: 30px; }

/* line 71, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_headings.scss */
a {
  color: #1daafc; }

/* line 1, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_page.scss */
img {
  width: 100%;
  display: block; }

@media all and (min-width: 48em) {
  /* line 6, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_page.scss */
  article {
    float: left;
    width: 65.625%;
    margin-right: 3.125%; } }

@media all and (min-width: 48em) {
  /* line 13, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/base/_page.scss */
  aside {
    float: left;
    width: 31.25%; } }

/* line 6, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/tools/helpers/_clearfix.scss */
.main-content:after {
  content: '';
  display: table;
  clear: both; }

/* line 1, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/objects/_box.scss */
.carousel--hero, .carousel--inner-page, .promo--text-with-image, .promo--video-with-text, .rte, .news--latest {
  background-color: #d4efff;
  padding: 40px;
  border-bottom: 5px dashed white;
  display: block;
  overflow: hidden; }
  /* line 6, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/tools/helpers/_clearfix.scss */
  .carousel--hero:after, .carousel--inner-page:after, .promo--text-with-image:after, .promo--video-with-text:after, .rte:after, .news--latest:after {
    content: '';
    display: table;
    clear: both; }
  /* line 8, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/objects/_box.scss */
  .carousel--hero:last-of-type, .carousel--inner-page:last-of-type, .promo--text-with-image:last-of-type, .promo--video-with-text:last-of-type, .rte:last-of-type, .news--latest:last-of-type {
    border-bottom: 0px; }
  /* line 11, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/objects/_box.scss */
  .article h2 {
    position: absolute;
    left: 69%;
    font-family: arial, helvetica, sans-serif;
    color: #bbbbbb;
    margin-top: 10px;
    font-weight: normal;
    display: none; }
    @media all and (min-width: 48em) {
      /* line 11, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/objects/_box.scss */
      .article h2 {
        display: block; } }

/* line 25, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/objects/_box.scss */
.article h2 {
  position: absolute;
  left: 69%;
  font-family: arial, helvetica, sans-serif;
  color: #bbbbbb;
  margin-top: 10px;
  font-weight: normal;
  display: none; }
  @media all and (min-width: 48em) {
    /* line 25, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/objects/_box.scss */
    .article h2 {
      display: block; } }

/* line 1, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/components/_header.scss */
.header {
  padding: 40px; }

@media all and (min-width: 48em) {
  /* line 5, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/components/_promo.scss */
  .promo--text-with-image .promo__image {
    margin-left: 3.125%; } }

@media all and (min-width: 48em) {
  /* line 13, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/components/_promo.scss */
  .promo--video-with-text .promo__info {
    margin-left: 3.125%; } }
/* line 18, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/components/_promo.scss */
.promo--video-with-text .promo__video {
  overflow: hidden; }

@media all and (min-width: 48em) {
  /* line 23, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/components/_promo.scss */
  .promo__info {
    float: left;
    width: 48.4375%; } }

/* line 30, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/components/_promo.scss */
.promo__video {
  background-color: #1daafc;
  margin-bottom: 20px; }
  @media all and (min-width: 48em) {
    /* line 30, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/components/_promo.scss */
    .promo__video {
      float: left;
      width: 48.4375%; } }
  /* line 37, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/components/_promo.scss */
  .promo__video video {
    opacity: 0; }

/* line 42, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/components/_promo.scss */
.promo__image {
  background-color: #1daafc;
  margin-bottom: 20px; }
  @media all and (min-width: 48em) {
    /* line 42, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/components/_promo.scss */
    .promo__image {
      float: left;
      width: 48.4375%; } }

@media all and (min-width: 48em) {
  /* line 5, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/components/_news.scss */
  .news__intro {
    float: left;
    width: 48.4375%;
    margin-right: 3.125%; } }

@media all and (min-width: 48em) {
  /* line 13, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/components/_news.scss */
  .news__description {
    float: left;
    width: 48.4375%; } }

/* line 1, /Users/benn.pearson/Dropbox/Precedent/architype/assets/sass/components/_footer.scss */
.footer {
  padding: 40px; }
