{% block content %} 
	<p>An empty, simple boilerplate for a fresh start.</p>     
	<!-- TODO: Create my project :-) -->
	{% include "carousel--hero" %}
	{% include "wysiwyg" %}
	{% include "promo--video-with-text" %}
	{% include "promo--text-with-video" %}
{% endblock %}